a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  margin: auto;
  width: 100%;
}

@font-face {
  font-family: main-font;
  src: url("../font/UTM_BryantLG.ttf");
}
@keyframes slide_show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main-font {
  font-family: main-font;
  font-style: normal;
  letter-spacing: -0.05em;
  color: #ffffff;
}
.text-fix {
  text-shadow: 1px 1px 1px;
}
