/* header */

.hapo-wrap {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

.hapo-logo {
  margin-left: 60px;
}

.hapo-logo-image {
  width: 340px;
  height: 70px;
}

.hapo-nav {
  margin-left: 120px;
}

.hapo-nav-items {
  padding-left: 0;
  display: flex;
  width: 800px;
}

.hapo-nav-item {
  list-style-type: none;
  margin-left: 35px;
  font: normal bold 14px/19px Open Sans;
}

.last-item {
  min-width: 65px;
}

.hapo-items-link {
  color: black;
  text-decoration: none;
  border-radius: 17px;
  /* padding */
  padding: 5px 3px 5px 3px;
}

/*hover navigation */

.hapo-items-link:hover {
  background-color: #b2d235;
  color: white;
}

/* css footer */

.hapo-wrap-footer {
  display: flex;
  justify-content: space-between;
  background: #505353;
  padding: 50px 0;
}

.footer-det {
  position: relative;
  right: -50%;
  width: 250px;
  height: 50px;
  /* font */
  font-size: 20px;
  line-height: 25px;
}

.hapo-footer-list-page {
  padding-left: 0;
}

.hapo-list-item {
  font: normal bold 23px/28px main-font;
  margin: 10px auto;
}

.hapo-list-left {
  margin-left: 100px;
}

.hapo-wrap-contact {
  margin-right: 150px;
  display: flex;
  align-items: center;
}

.hapo-face-link {
  margin: auto 20px;
}

.hapo-copyright {
  background: #454545;
  text-align: center;
  font: normal 15px/18px Open Sans;
}
/* message */

.hapo-wrap-content-mes {
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  display: none;
}

.hapo-fixed {
  position: fixed;
  right: 20px;
  bottom: 90px;
}

.hapo-user-heading {
  display: flex;
  align-items: center;
}

.hapo-user {
  margin: auto;
  padding: 5px 0 0 60px;
  font: normal 600 12px/16px Open Sans;
  letter-spacing: -0.02em;
  color: #7f7f7f;
}

.hapo-close {
  margin-left: 200px;
}

.hapo-wrap-message-content {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.hapo-message-content {
  width: 256px;
  padding: 10px 5px 10px 5px;
  display: flex;
  align-items: center;
  background: #f1f0f0;
  border-radius: 15px;
  font: normal 600 12px/17px Open Sans;
  letter-spacing: -0.02em;
  color: #505353;
}

.hapo-user-image {
  height: 30px;
}

.hapo-message-content {
  margin-left: 10px;
}

.hapo-button-message {
  margin-top: 25px;
}

.hapo-button-message-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 276px;
  height: 37px;
  line-height: 37px;
  margin: auto;
  background: #3184f7;
  border-radius: 10px;
  color: #ffffff;
}
.hapo-button-message-link img {
  margin-right: 10px;
}

.det-message {
  margin-top: 0;
  padding-left: 0;
  text-align: center;
}

.hapo-wrap-space {
  width: 100%;
  height: 161px;
  background-image: linear-gradient(0deg, rgb(182, 178, 178), #ffffff);
}

/* css icon message */

.hapo-wrap-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  right: 0;
  bottom: -66px;
  margin-top: 5px;
  background-color: #2774df;
  border-radius: 50%;
}

.hapo-wrap-icon > img {
  margin-top: 1px;
}

/*css banner  */

.hapo-wrap-slide {
  position: relative;
  height: 655px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../image/background_slide.png");
}

.hapo-slide-desc {
  position: absolute;
  width: 513px;
  height: 61px;
  margin-left: 51px;
  margin-top: 204px;
}

.hapo-slide-desc-slogan {
  font: 50px/61px main-font;
  letter-spacing: -0.05em;
}

.hapo-slide-desc-slogan-det {
  display: block;
  width: 249px;
  height: 50px;
  font: 20px/25px main-font;
  letter-spacing: -0.05em;
  color: #505353;
}

.hapo-button-courses {
  width: 377px;
  height: 70px;
}

.hapo-button-courses-link {
  display: block;
  width: 377px;
  height: 70px;
  margin-top: 30px;
  /* background, color */
  background-color: #b2d235;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  color: #ffffff;
  /* text, font */
  text-align: center;
  font: normal bold 30px/70px Open Sans;
  letter-spacing: -0.05em;
}

/* css wrap courses */
.hapo-wrap-courses {
  width: 100%;
  position: relative;
}

.hapo-wrap-courses-row {
  width: 85%;
  position: relative;
  top: -104px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.hapo-row-2 {
  width: 480px;
  height: 100px;
  margin: 110px auto auto auto;
  border-bottom: 5px solid #b2d235;
  margin-bottom: 66px;
}

.hapo-other-courses h1 {
  margin: 0 auto;
  color: #11114e;
  font: normal bold 75px/98px main-font;
}
.hapo-row-4 .hapo-all-course {
  color: #90ab26;
}
.hapo-course {
  width: 33.33%;
  height: 470px;
  margin: auto 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.hapo-courses-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 215px;
  background: #3f6185;
  border-radius: 15px 15px 0 0;
}

.courses-background {
  background: #dc594c;
}

.hapo-courses-det-heading {
  font: bold 26px/37px main-font;
  letter-spacing: -0.05em;
  color: #b2d235;
}

.hapo-courses-det {
  margin: auto;
  font: normal bold 12px/20px main-font;
  text-align: center;
  letter-spacing: -0.05em;
}

.courses-det {
  padding: 0 20px;
}

.hapo-course-link {
  display: flex;
  justify-content: center;
}

.hapo-button-course-link {
  display: block;
  width: 200px;
  height: 42px;
  text-align: center;
  margin-top: 15px;
  /* font, background*/
  font: normal bold 18px/42px main-font;
  background: #b2d235;
  border-radius: 22px;
  color: white;
}

.hapo-row-4 {
  margin-top: 60px;
  font: normal bold 40px/40px main-font;
  color: #b2d235;
  letter-spacing: -0.02em;
}

.hapo-row-4 a {
  color: #b2d235;
}

/* css information HapoLearn */

.hapo-inf-content {
  position: relative;
  height: 740px;
  margin: auto;
  background: url("../image/background_inf.png") no-repeat;
}

.hapo-inf_1 {
  position: absolute;
  top: -30%;
}

.hapo-inf_2 {
  width: 750px;
  height: 544px;
  position: absolute;
  right: 0;
  top: 13.5%;
  bottom: 0;
}

.hapo-content {
  margin-left: 100px;
  position: absolute;
  top: 40%;
  padding-left: 0;
  color: #ffffff;
}

.hapo-content-heading {
  margin-bottom: 15px;
  font: normal bold 60px/86px main-font;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hapo-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font: 18px/25px main-font;
  letter-spacing: -0.05em;
}

.hapo-content img {
  margin-right: 15px;
}

/* feedback */

.hapo-feedback-heading {
  /* size */
  margin: 110px auto 30px auto;
  padding: 5px 0;
  width: 330px;
  text-align: center;
  border-bottom: 5px solid #b2d235;
  font: normal bold 80px/98px main-font;
  /* identical to box height */
  letter-spacing: -0.02em;
  color: #11114e;
}

.hapo-feedback-det {
  margin: auto;
  width: 800px;
  text-align: center;
  font: 25px/31px main-font;
  text-align: center;
  letter-spacing: -0.02em;
  color: #505353;
}

.hapo-wrap-feedback-users {
  height: 200px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.hapo-feedback-user {
  margin: auto 14px;
  width: 50%;
}

.hapo-wrap-feedback-content {
  /* width */
  height: 163.47px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
  /* border */
  border: 0.5px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 10px;
}

.hapo-feedback-user-content {
  /* width */
  width: 92%;
  height: 89px;
  font: 16px/20px main-font;
  letter-spacing: -0.05em;
  /* cross */
  overflow-y: auto;
  direction: rtl;
}

.hapo-feedback-user-content::-webkit-scrollbar {
  width: 10px;
}

.hapo-feedback-user-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.hapo-feedback-user-content::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 5px;
}

.hapo-message {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hapo-user-inf {
  margin-left: 10px;
}

.hapo-userN,
.hapo-coursesN,
.hapo-like {
  display: flex;
  align-items: center;
  margin: 3px auto;
}
.hapo-userN {
  color: #11114e;
}
.hapo-coursesN {
  color: #505353;
}
.hapo-wrap-feedback-users {
  position: relative;
}

.hapo-wrap-slider {
  display: flex;
  position: absolute;
  visibility: hidden;
  animation-duration: 2s;
  width: 85%;
  justify-content: center;
}

.hapo-left-right {
  position: absolute;
  margin-top: 65px;
  width: 85%;
  display: flex;
  justify-content: space-between;
}

/* css wrap-start learn */

.hapo-wrap-learn {
  padding: 134px 0;
  margin-top: 110px;
  background: url(../image/background7.png);
  background-size: contain;
}

.hapo-content-learn {
  width: 705px;
  margin: auto;
}

.hapo-learn-heading {
  width: 705px;
  height: 158px;
  font: normal bold 60px/74px main-font;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hapo-button-learn {
  margin: auto;
}

.hapo-learn-link {
  margin-top: 5px;
  background-color: #ffffff;
  color: #90ab26;
  font: normal bold 30px/70px main-font;
  letter-spacing: -0.05em;
}

/* css statistic */

.hapo-static-data {
  display: flex;
  justify-content: center;
  padding: 0 80px;
}

.hapo-statistic {
  width: 33.33%;
}

.hapo-statistic-name,
.hapo-statistic-data {
  text-align: center;
  font: normal bold 60px/74px main-font;
  letter-spacing: -0.05em;
}

.hapo-statistic-data {
  margin: 30px auto 140px auto;
  color: #b2d235;
}
